<!-- POST -->
<div id="post_div" class="w3-container w3-card-2 w3-white w3-round w3-margin"><br>
    <img src="/images/m_profile.svg" class="w3-left w3-circle w3-margin-right" style="width:60px">
    <span class="w3-right w3-opacity">{{timeAgo time=this.post_date}}</span>
    <h4><a href="/profile/{{this.user_id}}">{{this.firstname}} {{this.lastname}}</a></h4><br>
    <p>{{this.post_text}}</p>
    <p>{{#each files}}<a href='/file/{{this.id}}'>{{this.file_name}}</a>&nbsp;{{/each}}
    <hr class="w3-clear">
    <button onclick="likePost(this,'{{this.id}}')" type="button" class="w3-button w3-theme-d1 w3-margin-bottom"><i class="fa fa-thumbs-up"></i>&nbsp;Like</button> 
    <button onclick="savePost(this,'{{this.id}}')" type="button" class="w3-button w3-right w3-theme-d2 w3-margin-bottom"><i class="fa fa-bookmark-o"></i>&nbsp;Save</button>
</div>